<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>
    <p>This is the added line!</p>
    <p style="color:red">This is Amarnath Reddy Ra</p>
    <img src="https://00f74ba44b34bedf824e0bb64df01f9321104b4d88-apidata.googleusercontent.com/download/storage/v1/b/cicd-practice/o/chetah.jpg?jk=AFshE3XPH8jkjGk2qGDg54THN9JhoVxMMexS1xQp3szrX_wWxmaGtjOpz2UbNPygDLjsO9g56-ATY7orC7_FYsGAE1ZuWr_rtSx3Zf00yKQcnbO0ouQx0AR_wZmknybg4Df0KgXkBJgdoGzbofcY1GhtyLXbxVd0YssZs2pW70q8UN8Ar6zjQrnLI511_8Mk5F7dF68MbVKqKpOXOuCdT3qL9YPP-7T1QWUFIprOa27fkzGwfltvQtfqeqAUvLerdD7-frAZl-nN7tyCEfDnMfCa9uKMCxwxGscJzWrJqEGRtRwyhH_no4rgitOsbkDXQEr572Msril-QCU7_OcHBCW4U0sJAi7nxu5M8YaxE8-dvFcKqwrEaHKUAGOYsH0yhrpA3v9YndWVCRcPV5G9-IsQf-nlhPT5TDJIzKisYDLTEE3qFLNjtBSWXsa9Zvg6VKFlocbrHtmJVBg6hF40x2zlxXIAwqz1a3EAwPrINVr1s2hcKhDD06j9Ab15F7ZSvlyFbv-ZGgTyFU9JcsyB-a5jp6F20XiUO_T6PtK4fLRYtF08duWLgsQrtVv2ktFw_JYXVX8ECU0l1GODzN85zEuwX_e8h5x-CJhwIFkbNMjN654lqGpDLMDoOr7FYkggjCPPi7aUnkgRRmCO1zIxZqLhfuwS_-56wcBty7944BChGh0_RGG-sZMjrnaCNd6FbppMoE25NAYbv5sM8CUFX1cJq9BoAi8-w6MzwuV4JB5UbBtGCh9ZZUWNytjrFz1_gysc_x6O2QHN4Q0ND4CMZWkyH83aoS-GmpBqIUXexvQFpT3n-Qt9_XThBF18_iXIcmDn8NyQF5QewPywWo3xYYr3DAaopCXYUkcBGrol9Q3PCucEIoutraR8qRlbKhDf-sxQ7DHBC2eJUc_qpx-T2KRk&isca=1" alt="The fastest Animal">
  </body>
</html>
